.inlinedisplay{
    display: inline;
}
body{
    font-family: "Roboto", sans-serif;
}
.main{
    color: bisque;
    background-color: black;
}
nav{
    color: brown;
    background-color: bisque;
}
footer{
    color: darkgreen;
    background-color: darkkhaki;
}